
<mat-toolbar color="primary">
  <span class="title-center">O nama</span>
</mat-toolbar>
<div>
  <h1>Inženjerstvo informacionih sistema</h1>
  <p>Informacione i komunikacione tehnologije prožimaju sve aspekte savremenog društva i intenzivno se koriste svakodnevno
     i u svim sferama života. Informacioni sistemi, primenom ovih tehnologija, omogućavaju da se poslovi u preduzećima obavljaju brže,
      lakše, bolje i jeftinije. Maksimalni efekti se postižu kada se dobro poznaje priroda poslovanja i struktura preduzeća,
      što naši inženjeri sigurno znaju. Oni su naučili kako funkcioniše preduzeće i kako ga upotrebom informacionih i komunikacionih
      tehnologija učiniti uspešnijim. Akcenat je postavljen na osposobljavanju inženjera koji sagledavaju celinu sistema i razvijaju
      sposobnosti lakog prilagođavanja različitim aplikativnim domenima i primeni različitih i inovativnih metoda, tehnika i alata u oblasti
      informacionih i komunikacionih tehnologija.
      Diplomirani inženjeri ovog profila, ovladaće teorijskim i praktičnim znanjima iz različitih oblasti, poput sistemskog inženjerstva,
      organizacije, ekonomije, arhitekture računara i računarskih mreža, projektovanja i implementacije informacionih sistema i baza podataka,
      programiranja, istraživanja podataka (Data Mining), rada sa velikim količinama podataka (Big Data), upravljanja razvojem i primenom informacionih sistema
      i informacionih i komunikacionih tehnologija u svim sferama života.
  </p>
  <div>
    <img src="assets/img/doro.jpg">
  </div>
</div>

